
<div id="friend_list">
    <h2>
        Friends
    </h2>


<table id="friend_list_table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Online
            </th>
        </tr>
    </thead>
    <tbody>


            {% for friend in friends %}
                <tr>
                    <td>
                        <h5>
                            <a href="/chat/{{ friend.1 }}"> {{ friend.0 }} </a>
                        </h5>
                    </td>
                    <td>
                        {% if friend.2 %}
                            <img src="{% static 'img/green-dot.png' %}" alt="x" width="18px" height="18px">
                        {% else %}
                            <img src="{% static 'img/red-dot.png' %}" alt="x" width="18px" height="18px">
                        {% endif %}

                    </td>
                    <td>
                        <form id="del_friend_form_{{ friend.1 }}" method="post" action="/chat/delete_friend">
                            {% csrf_token %}
                            <button name="del_friend_btn" value="{{ friend.1 }}" type="submit">
                                X
                            </button>

                        </form>
                    </td>
                </tr>
            {% endfor %}


    </tbody>
</table>


</div>

<div id="find_friends">
    <h3 id="find_friends_header">
        Find friends
    </h3>
    <form id="find_friends_form" method="get" action="">
        {% csrf_token %}
        {{ find_friends_form.as_p }}
        <button type="submit" id="find_friends_btn">
            Search
        </button>
    </form>
    {% if search_results %}
    <table id="search_results_table">
        <tbody>
            {% for result in search_results %}

                <tr>
                    <td>
                        {{ result.username }}
                    </td>
                    <td>
                        <form id="add_friend_form_{{ result.id }}" action="{% url 'chat:add_friend' %}" method="post">
                            {% csrf_token %}
                            <button name="add_friend" value="{{ result.id }}" type="submit">
                                Add friend
                            </button>

                        </form>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
