
<div id="rooms_div">
    <div id="rooms_top">
        <h3 id="rooms_title">
            Rooms
        </h3>
        <form id="create_room_form" method="post" action="#">
            {% csrf_token %}
            {{ create_room_form.as_p }}
            <button id="create_room_btn">
                Create room
            </button>
        </form>
    </div>
    <div id="rooms_list_div">
        <ul id="rooms_list">
            {% for room in rooms %}
            <li>
                room.room_name
            </li>
            {% endfor %}
        </ul>
    </div>


</div>


