{% extends 'website/base.html' %}

{% block content %}
<div id="chat_div">
    <div id="friends_div">
        {% include 'chat/_friend_list.html' %}
    </div>

    <div id="chat_window">
        {% include 'chat/_chat_top.html' %}
        {% include 'chat/_chat_window.html' %}
        {% include 'chat/_message_form.html' %}
    </div>

    <div id="rooms_div">
        {% include 'chat/_new_room_form.html' %}
        {% include 'chat/_room_list.html' %}
    </div>

</div>
{% endblock %}


{% block js %}
    {% if friend %}
        <script type="text/javascript">
            var recipient_id = '{{ friend.id }}';
        </script>
        <script src="{% static 'js/chat.js' %}"></script>
    {% endif %}

{% endblock %}


